<section id="experiance" class="experiance">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h2>Our Experiences</h2>
            <hr class="small">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="owl-carousel">
                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-1.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-4.png" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-1.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="logo-box">
                                <img src="/img/logo-4.png" alt="">
                            </div>
                        </div>
                      
                      </div>
                </div>
            </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>