<!DOCTYPE html>
<html lang="en">


  
  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  <!--
  {% include callout.html %}
  -->
  {% include portfolio.html %}
  {% include experiance.html %}
  {% include call-to-action.html %}
  {% include footer.html %}
  {% include scripts.html %}

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5082371.js"></script>

  <script>
   $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    dots: true,
    autoplay: true,
    autoplay:true,
    smartSpeed: 1200,
    autoplayTimeout:1200,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:2,
            nav:false
        },
        767:{
            items:2,
            nav:false
        },
        1000:{
            items:3,
            nav:false,
            dots: false,
            loop:true
        }
    }
});


</script>


  <!-- End of HubSpot Embed Code -->
</body>

</html>
